/*------STYLE-------*/
body,html{
	background: white;
	margin-top: 30px;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}
p{
	font-size: 16px;
	line-height: 30px;
}
/*HEADER*/
header{
	padding: 20px 0px 0px 0px;
	background: black;
}

#menu-header{
	padding: 20px 0px;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
}

#menu-header li{
	display: inline-block;
	padding: 0px 15px;
	text-transform: uppercase;
	font-weight: 700;
}

#menu-header li>a{
	color: white;
}

#menu-social-header{
	padding: 20px 0px;
}

#menu-social-header a{
	color: white;
}

#menu-social-header li{
	display: inline-block;
}

/*SUBMENU*/
.submenu{
	position: absolute;
	list-style: none;
	top: 60%;
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
	background: #f9f9f9;
	width: 100px;
	border: 1px solid #e7e7e7;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 999;
}

.submenu a{
	color: #222 !important;
	font-size: 13px !important;
}

.submenu li{
	margin-top: 5px;
	padding: 0px !important;
}

/*---------- HEADER LOGO ---------------*/
#header-logo{
	min-height: 650px;
	background-image: url(images/headerImg.png);
	background-color: #1d1724;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

div.parallax-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.parallax{
	position: absolute;
}

.logo-kern{
	background-image: url('images/logo-kern.png');
	width: 100%;
	height: 100%;
	background-position: 50% 40%;
	background-size: 50%;
	background-repeat: no-repeat;
	mix-blend-mode: hard-light;
}

.img-abertura{
	width: 100%;
	height: 490px;
	background: #999;
}

/*---------- CONTENT-TATTOO ---------------*/
#content-tattoo{
	min-height: 550px;
	background-image: url(images/content-tattoo.png);
	background-color: #20252b;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-size: 20px;
	padding: 10% 0;
}

#content-tattoo h1{
	font-family: 'Francois One', sans-serif;
	text-transform: uppercase;
	font-size: 70px;
	margin-top: 40px;
}

/*---------- CONTENT-DANIEL ---------------*/
#content-daniel{
	min-height: 570px;
	padding-top: 20px;
}

#content-daniel h1{
	font-family: 'Francois One', sans-serif;
	text-transform: uppercase;
	font-size: 70px;
	margin-top: 40px;
}

#content-daniel span{
	color: #e22730;
}

.portifolio{
	margin-top: 130px;
}

/*---------- CONTENT-PIERCING ---------------*/
#content-piercing{
	min-height: 550px;
	background-image: url(images/content-piercing.png);
	background-color: #ce1c1d;
	background-position: left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	font-size: 20px;
	text-align: right;
	padding: 10% 0;
}

#content-piercing h1{
	font-family: 'Francois One', sans-serif;
	text-transform: uppercase;
	font-size: 70px;
}

/*---------- CONTENT-SIMARA ---------------*/
#content-simara{
	min-height: 570px;
	padding-top: 20px;
}

#content-simara h1{
	font-family: 'Francois One', sans-serif;
	text-transform: uppercase;
	font-size: 70px;
	margin-top: 40px;
}

#content-simara span{
	color: #e22730;
}

/*---------- CONTENT-MAKEUP ---------------*/
#content-makeup{
	min-height: 550px;
	padding: 10% 0;
	background-image: url(images/content-makeup.png);
	background-attachment: fixed;
	background-color: #c16c00;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	font-size: 20px;
}

#content-makeup h1{
	font-family: 'Francois One', sans-serif;
	text-transform: uppercase;
	font-size: 70px;
}

/*CONTATO*/
#content-contato{
	font-size: 16px;
	padding: 30px 0;
	text-align: center;
	background: #e8e8e8;
}

#content-contato h1{
	font-family: 'Francois One', sans-serif;
	text-transform: uppercase;
	font-size: 70px;
}

#form-contato input{
	padding: 20px 15px;
	margin: 15px 0px;
}

#form-contato textarea{
	padding: 10px 15px;
	margin: 15px 0px;
	height: 300px;
}

/*--------- FOOTER --------------------------*/
footer{
	text-align: center;
	background: #b92826;
	color: white;
	padding: 30px 0px 50px 0px;
}

footer a{
	color: white;
}

/*---------------------- SMARTPHONE ---------------------*/

